{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<table class="table">
    <thead>
    <tr>
      <th>Account Name</th>
      <th>Institution Name</th>
      <th>Available Balance</th>
      <th>Current Balance</th>
      <th>Credit Limit</th>
      <th>Credit Utilization Percentage</th>
    </tr>
    </thead>
  {% for account in accounts %}
    <tfoot>
    <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.institution_name }}</td>
        <td>{{ account.available }}</td>
        <td>{{ account.current }}</td>
        <td>{{ account.limit }}</td>
        <td>{{ account.utilization }}</td>
    </tr>
    </tfoot>
  {% endfor %}

</table>
{% endblock %}